h1{
    text-align:center;
    font-size:64px;
}

.tableHead{
    font-size:32px;
}

table, th, tr, td {
    margin-left:auto;
    margin-right:auto;
    font-size:24px;
    border: 1px solid black;
    border-collapse: collapse;
    width:auto;
}

th, tr{
    padding:10px;
}