h1{
    padding-top:25px;
    text-align:center;
    font-size:64px;
}

.tableHead{
    font-size:32px;
}

table, th, tr, td {
    margin-left:auto;
    margin-right:auto;
    font-size:24px;
    border: 2px solid #0c0386;
    border-collapse: collapse;
    width:auto;
    text-align:center;
    table-layout:fixed;
}

th {
    font-size: 28px;
    padding: 4px;
    background:white;
}

td {
    padding: 8px;
}

tr {
    height: 2em;
    background: #44b8ff;
}

#check{
    text-align:center;
    font-size:24px;
}

.gradeTable{
    table-layout: fixed;
    width: 50%;
    white-space:nowrap;
}

#input td {
    padding-top:16px;
    padding-bottom:16px;
    background:white;
}

input {
    text-align:center;
}



button {
    background-color: #019fff;
    border: none;
    color: white;
    font-weight: bold;
    font-size: 22px;
    padding: 8px 28px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
    border-radius: 8px;
    box-shadow: 0 9px #999;
}

button:hover{
    background-color: #007bc6;
}

button:active{
    background-color: #007bc6;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
}

